body > div.container > div > div.column.maintext{
    padding-top: 17%;
}
.advantage{
    background: #F35B58;
    padding: 1%;
    color: #fff;
}
.infome{
    padding-left:15%;
    padding-right: 15%;
}
#subcat{
    margin: 2%;
}
.navbar-item img {
    max-height: 2.75rem;
}