<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skip OTP | Free USA Phone Number</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/css/bulma-accordion.min.css">
    <style>
        #numbersection {
            width: 600px;
            margin: 0 auto;
            height: 600px;
            overflow: auto;
            overflow-x: hidden;
            overflow-y: auto
        }

        .msg {
            position: relative;
            max-width: 30em;
            background-color: #fff;
            padding: 0.5em 0.5em;
            font-size: 1.25em;
            border-radius: 1rem;
            box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
            background: #2BBC9C;
            color: #fff;
            margin-bottom: 1%;
            -webkit-animation: scale-up-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }

        .timestamp,
        .from {
            font-size: 12px;
            text-transform: uppercase;
        }

        .msgtext {
            font-size: 12px;
        }

        @-webkit-keyframes scale-up-left {
            0% {
                -webkit-transform: scale(0.5);
                transform: scale(0.5);
                -webkit-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
            }
        }

        @keyframes scale-up-left {
            0% {
                -webkit-transform: scale(0.5);
                transform: scale(0.5);
                -webkit-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
            }
        }

        .navbar-item img {
            max-height: 2.75rem;
        }

        @media only screen and (max-width: 600px) {
            #numbersection {
                width: 90%;
                margin: 0 auto;
                height: 400px;
                overflow: auto;
                overflow-x: hidden;
                overflow-y: auto
            }

            .msg {
                margin: 2%;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/Skip%20OTP.png" height="50">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item">
                    Home
                </a>
                <a class="navbar-item" href="mailto:shivamgpt38@gmail.com?Subject=Need Help | skipotp.com">
                    <span class="icon"><i class="fa fa-envelope"></i></span>
                    &nbsp;Need Help?
                </a>
            </div>
        </div>
    </nav>

    <div class="section">
        <center><h1 class="title">404</h1></center>
        <center><h1 class="subtitle">Page not found</h1></center>
        <center><a href="/" class="subtitle">Home Page</a></center>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>SkipOTP</strong> by <a href="https://github.com/shivamgpt38">Shivam Gupta</a>.
            </p>
        </div>
    </footer>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/1.0.0/typewriter.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153166511-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-153166511-1');
    </script>

    <script>
        $(document).ready((e) => {
            $(".navbar-burger").click(function (e) {
                console.log(e)
                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            });
        })
    </script>
</body>

</html>