<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skip OTP | Receive OTP without registration</title>
    <meta name="description"
        content="Skipotp provides secure way to save your identity and test your current server for OTP failure">
    <meta name="keywords" content="receive sms, receive sms online, sms receiver, temporary phone number, disposable phone number, free phone number
    sms online, skip otp, shivamgpt38, shivam kumar">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="Skip OTP | Receive OTP without registration" />
    <meta property="og:site_name" content="Skip OTP" />
    <meta property="og:url" content="http://skipotp.com" />
    <meta property="og:description"
        content="Skipotp provides secure way to save your identity and test your current server for OTP failure" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/css/bulma-accordion.min.css">
    <link rel="apple-touch-icon" sizes="57x57"
        href="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60"
        href="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76"
        href="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120"
        href="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144"
        href="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
        href="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"
        href="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/favicon-16x16.png">
    <link rel="manifest" href="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage"
        content="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <style>
        #numbersection {
            max-width: 800px;
            margin: 0 auto;
        }

        .navbar-item img {
            max-height: 2.75rem;
        }
    </style>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://freeconvertonline.sgp1.digitaloceanspaces.com/skipotp.com/Skip%20OTP.png" height="50">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item">
                    Home
                </a>
                <a class="navbar-item" href="mailto:shivamgpt38@gmail.com?Subject=Need Help | skipotp.com">
                    <span class="icon"><i class="fa fa-envelope"></i></span>
                    &nbsp;Need Help?
                </a>
            </div>
        </div>
    </nav>

    <div class="section" id="numbersection">
        <div class="columns has-text-centered">
            <div class="column">

            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="content" id="flag">

                        </div>
                        <span id="country">--</span>
                    </div>
                </div>
            </div>
            <div class="column">

            </div>
        </div>
        <center>
            <h1 class="title">Choose a number</h1>
        </center>
    </div>

    <div class="section" id="numbersection">
        <div class="columns is-multiline has-text-centered" id="numberlist">

        </div>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>SkipOTP</strong> by <a href="https://github.com/shivamgpt38">Shivam Gupta</a>.
            </p>
        </div>
    </footer>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/1.0.0/typewriter.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153166511-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-153166511-1');
    </script>

    <script>
        $(document).ready((e) => {
            $(".navbar-burger").click(function (e) {
                console.log(e)
                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            });
            let cc = location.pathname.split('/')[2]
            console.log(cc)
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://167.99.166.200/api/country/" + cc,
                "method": "GET",
                "headers": {
                    "cache-control": "no-cache",
                    "Postman-Token": "277f27e9-aeae-4986-8587-cc40eeb3e372"
                }
            }

            $.ajax(settings).done(function (response) {
                console.log(response);
                $('#flag').html('<img src="' + response.flag + '">')
                $('#country').html(response.country)
                let numbers = response.numbers;
                numbers.map(number => {
                    let cards = '<div class="column is-4">';
                    cards += '<div class="card">';
                    cards += '<div class="card-content">';
                    cards += '<div class="content">+1' + number + '</div></div>';
                    cards += '<footer class="card-footer"><a href="/number/' + number + '" class="card-footer-item">Start receiving sms</a></footer></div></div>';
                    $('#numberlist').append(cards);
                })
            });
        })
    </script>
</body>

</html>