<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skipotp | Skip OTP Verification</title>
</head>

<body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
    <script>
        let room = document.URL;
        room = room.split('/')[4]
        console.log(room)
        const socket = io('http://localhost:9999');
        socket.emit('join', room);
        socket.on('new_msg', function (data) {
            console.log('Incoming message:', data);
        });
    </script>
</body>

</html>  